.intro.col-md-6.col-md-offset-3
	.panel.panel-default
		.panel-body
			.panel-heading
				%h1= Gorilla
				%p= "Submit your favorite sporting moments"
				%p= "Capture the excitement"
				%p= "Share the live events"
			.form-group
				= simple_form_for :login do |f|
					= f.input :email, label: false, placeholder: "Email", required: true
					= f.input :password, label: false, placeholder: "Password", input_html: { maxlength: 20 }
					= f.submit "Login", class: "btn btn-primary"
			%p.signup
			= "Need an Account?"
			= link_to "Sign Up", signup_path



