.intro.col-md-6.col-md-offset-3
	.panel.panel-default
		.panel-body
			.panel-heading
				%h1= Gorilla
				%p= "Submit your favorite sporting moments"
				%p= "Capture the excitement"
				%p= "Share the live events"
			.form-group
				= simple_form_for :login do |f|
					= f.input :email, label: false, placeholder: "Email", required: true
					= f.input :password, label: false, placeholder: "Password", input_html: { maxlength: 20 }
					= f.submit "Login", class: "btn btn-primary"
			.form-group
			= "Need an Account?"
			= link_to "Sign Up", signup_path


:javascript
	var animationDelay = 3000;
	var offset = 3000;

	function welcomeAnimate(x) {
		setTimeout(function(){
			$(x).animate({
				opacity: "0.3"
			}, animationDelay);
		},$(x).index() * offset)
	}
	$("p").each(function(){
		welcomeAnimate(this);
	})