.show.col-md-8.col-md-offset-2
	.row
		.panel.panel-default
			.panel-heading
				%h1
					= "Hello"
					= current_user.username
			.panel-body
				.col-md-6
					%p 
						= image_tag current_user.user_image.url(:medium)
				.col-md-4
					%h3
						= "Your Activity"
					%p
						= "Total Comments: "
						= current_user.comments.count
					%p
						= "Total Posts: "
						= current_user.posts.count
			.panel-footer
				%button.btn.btn-primary{"data-target" => "#commentModal", "data-toggle" => "modal", :type => "button"}
					Prior Comments
				#commentModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
					.modal-dialog
						.modal-content
							.modal-header
								%button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
									%span{"aria-hidden" => "true"} &times;
								%h4#myModalLabel.modal-title Comment History
							.modal-body
								- @user.comments.each do |comment|
									.panel-footer
										= comment.body
										= comment.date_added
							.modal-footer
								%button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close

				%button.btn.btn-primary{"data-target" => "#postModal", "data-toggle" => "modal", :type => "button"}
					Prior Posts
				#postModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
					.modal-dialog
						.modal-content
							.modal-header
								%button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
									%span{"aria-hidden" => "true"} &times;
								%h4#myModalLabel.modal-title Post History
							.modal-body
								- @user.posts.each do |post|
									.panel-heading
										= image_tag post.image.url(:medium)
									.panel-body
										%strong= post.title
									.panel-footer
										= post.description
							.modal-footer
								%button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close

				= link_to "Edit Account", edit_user_path, class: "btn btn-primary"
				= link_to "Back", posts_path, class: "btn btn-primary"
				= link_to "Delete Account", :user, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger"
