= image_tag @post.image.url(:medium)
%h1= @post.title
%p= @post.description
%p 
	Created by:
	= @post.user.username
	%br
	Created at:
	= @post.date_published

- @comments.each do |comment|
	= comment.user.username
	= comment.body
= render "comments/form"

= link_to "Like", upvote_path, class: "btn btn-primary fa fa-thumbs-o-up"

= link_to "Dislike", downvote_path, class: "btn btn-danger fa fa-thumbs-o"

%p= @post.upvotes
%p= @post.downvotes

= link_to "Back", posts_path

- if @post.user.username == current_user.username
	= link_to "Edit", edit_post_path
	= link_to "Delete", post_path, method: :delete, data: { confirm: "Are you sure" }



